DATABASE_URL="Your-Database-URL"
EXPENSE_LOG_MCP_VERSION="0.0.5"
GEMINI_API_KEY="Your-API-Key"
MODEL_NAME="gemini-1.5-pro-latest"
REDIS_HOST="Your-Redis-Host"
REDIS_PASSWORD="Your-Redis-Password"
REDIS_PORT="Your-Redis-Port"
REDIS_USERNAME="Your-Redis-Username"
STREAM_REQUESTS="discord:requests"
STREAM_RESULTS="discord:results"
